

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.netlify

Welcome to my first MERN stack project! The purpose of this application is to log out a list of books and their associated authors! As a MERN Stack application, this application has been built using MongoDB, Express, React.js and Node.js!

How to start!

Fork a copy of this repository, then clone it into a folder onto your local machine. Open this folder with your code editor / IDE of choice, and run 'npm i' for both the frontend and the backend folders.

After both package.json files have been created (with necessary dependencies installed) navigate to your localhost:5173 to see your own local MERN-Bookstore.